* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: 100svh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.items {
    width: 70%;
    margin: 50px auto;
}

.items > h1 {
    text-align: center;
    margin-bottom: 15px;
}

details {
    background-color: rgb(47, 255, 61);
    margin-bottom: 10px;
    padding: 15px 0px 15px 20px;
    border-radius: 8px;
    border: 2px solid #060800;
    cursor: pointer;
    outline: none;
    transition: background-color .3s;
}

summary {
    font-weight: bold;
    padding-bottom: 8px;
}

summary > i {
    float: right;
    padding-right: 10px;
}


.list {
    padding-left: 30px;
}

.list > li {
    list-style: none;
}

details[open] {
    padding: 1em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

details > summary {
    list-style: none;
}
  
details > summary::marker,
details > summary::-webkit-details-marker {
    display: none;
}